<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>HisabKitab</title>
</head>

<body>
    <br>
    <div class="container pl-5" style="font-size: 22px;">
        <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
        <lord-icon src="https://cdn.lordicon.com//dxjqoygy.json" trigger="loop"
            colors="primary:#121331,secondary:#e88c30" style="width:100px;height:100px">
        </lord-icon> Welcome to <b>HisabKitab</b>....
    </div>
    <div class="container mx-auto px-auto" style="text-align: center;">
        <div style="font-size: x-large; color:orangered"> Sign Up </div>
        <small>Welcome! Manage bills and stocks easily!</small>
        <br><br>
    </div>

           
            <form action="/login" method="POST">
                <div class="container mx-auto px-auto">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> <small>Your Name *</small> </label>
                                <input required type="text" class="form-control" placeholder="Enter Name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"><small> Your Email *</small></label>
                                <input required type="text" class="form-control" placeholder="Enter Email" name="email">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> <small>Your Phone Number *</small></label>
                                <input required type="text" class="form-control" placeholder="+91 xxxxxxxx"
                                    name="phone">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1"> <small> Password *</small></label>
                                <input required type="password" class="form-control" placeholder="Password"
                                    name="password">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> <small>GST No *</small> </label>
                                <input required type="text" class="form-control" placeholder="Enter GST No" name="GST">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"><small>Company Name *</small></label>
                                <input required type="text" class="form-control" placeholder="Company" name="company">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> <small>Your Address *</small></label>
                                <input required type="text" class="form-control" placeholder="Your address"
                                    name="address">
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <br>
                <div class="container ml-5 " style="text-align: center;">
                        <button class="btn btn-outline-dark ml-5" style="color:orange">
                            <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                            <lord-icon src="https://cdn.lordicon.com//jvihlqtw.json" trigger="loop"
                                colors="primary:#eeaa66,secondary:#eeaa66"
                                style="width:50px;height:50px; font-size:bold;">
                            </lord-icon>Sign Up
                        </button>
                    <br><br>
                </div>


                <br>
                

            </form>
        



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>